
body.light-mode {
  background: url("https://stock.adobe.com/images/landscape-wallpaper/439890152")
    no-repeat center center fixed;
  background-size: cover;
  color: #333;
}


body.dark-mode {
  background: url("https://t4.ftcdn.net/jpg/09/45/20/97/240_F_945209778_QNLukvfcQL0kkcClajN1FYCHb12pKUfv.jpg")
    no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  backdrop-filter: blur(5px);
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: "Comic Sans MS", "Comic Neue", cursive;
  font-size: 2rem;
  margin: 0;
}


header button {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  background: #ff6a00;
  color: white;
}

header button:hover {
  opacity: 0.9;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.input-section input {
  flex: 1;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #ccc;
  outline: none;
}

.input-section button {
  border-radius: 12px;
  border: none;
  background: linear-gradient(to right, #ff6a00, #ee0979);
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}

.streak-counter {
  font-family: "Comic Neue", "Comic Sans MS", cursive;
  font-size: 1.2rem;
  margin-top: 15px;
}

.streak-counter span {
  font-weight: bold;
  color: #ff4500;
}
